@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1664177349283') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinliang:before {
  content: "\e87a";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-24gl-volumeCross:before {
  content: "\ea0b";
}

.icon-24gl-playCircle:before {
  content: "\ea6e";
}

